return {
  'epwalsh/obsidian.nvim',
  version = '*',
  lazy = true,
  ft = 'markdown',
  dependencies = {
    'nvim-lua/plenary.nvim',
  },
  opts = {
    workspaces = {
{{- if eq .machineType "personal" }}
      {
        name = 'personal',
        path = '{{ .chezmoi.homeDir }}/Favorites/LIFE-iCloud',
      },
      {
        name = 'work',
        path = '{{ .chezmoi.homeDir }}/Favorites/WORK-OneDrive',
      },
{{- else }}
      -- Add work machine obsidian vaults here if needed
      -- Example:
      -- {
      --   name = 'work-notes',
      --   path = '{{ .chezmoi.homeDir }}/Documents/notes',
      -- },
{{- end }}
    },
    ui = {
      enable = true,
    },
  },
  config = function(_, opts)
    require('obsidian').setup(opts)
    -- Set conceallevel for markdown files
    vim.api.nvim_create_autocmd('FileType', {
      pattern = 'markdown',
      callback = function()
        vim.opt_local.conceallevel = 2
      end,
    })
  end,
}
